.button-content{
    font-weight: 600;
    font-family: cursive;
    font-size: 32px;
animation-duration: 2s;   
animation-delay: 1s; 
}
.button{
    font-size: 20px;
    font-weight: 600;
    font-family: cursive;
}
.lamp{
    margin-top: 120px;
}
.lamp img{
    width: 170px;
    height: 300px;
}